In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pymysql
from absenteeism_module import AbsenteeismPredictor

In [5]:
predictor = AbsenteeismPredictor(model_path='model_with_scaler')

new_data_path = 'Absenteeism_new_data.csv'
predictor.preprocess_data(new_data_path)

predictions = predictor.predicted_outputs()
predictions.head()

c:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator LogisticRegression from version 1.2.2 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator StandardScaler from version 1.2.2 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

,Group_1,Group_2,Group_3,Group_4,Month,Day_of_Week,Transportation_Expense,Distance_to_Work,Age,Body_Mass_Index,Education,Children,Pets,Probability,Prediction
0,True,0.0,0.0,0.0,6,4,179,26,30,19,1,0,0,0.492704,0
1,True,0.0,0.0,0.0,6,0,361,52,28,27,0,1,4,0.788618,1
2,True,0.0,0.0,0.0,6,2,155,12,34,25,0,2,0,0.789784,1
3,True,0.0,0.0,0.0,6,4,179,22,40,22,1,2,0,0.599921,1
4,True,0.0,0.0,0.0,6,4,155,12,34,25,0,2,0,0.758106,1

In [ ]:
predictions.to_csv('Absenteeism_predictions.csv', index=False)

In [9]:
# Specify the file path
csv_file_path = r"C:\Users\User\Downloads\Absenteeism_predictions.csv"

# Load the CSV file into a DataFrame
predictions = pd.read_csv(csv_file_path)

# Display the DataFrame
print(predictions.head())

   Group_1  Group_2  Group_3  Group_4  Month  Day_of_Week  \
0        1      0.0      0.0      0.0      6            4
1        1      0.0      0.0      0.0      6            0
2        1      0.0      0.0      0.0      6            2
3        1      0.0      0.0      0.0      6            4
4        1      0.0      0.0      0.0      6            4

   Transportation_Expense  Distance_to_Work  Age  Body_Mass_Index  Education  \
0                     179                26   30               19          1
1                     361                52   28               27          0
2                     155                12   34               25          0
3                     179                22   40               22          1
4                     155                12   34               25          0

   Children  Pets  Probability  Prediction
0         0     0     0.492704           0
1         1     4     0.788618           1
2         2     0     0.789784           1
3         2     0     0.599921           1
4         2     0     0.758106           1

In [21]:
# Connect to the MySQL database
conn = pymysql.connect(database='predicted_outputs', user='root', password='Arcturus904#', host='localhost')

In [22]:
# Create a cursor object
cursor = conn.cursor()

In [23]:
cursor.execute('SELECT * FROM predicted_outputs;')

0

In [25]:
insert_query = 'INSERT INTO predicted_outputs VALUES '
insert_query

'INSERT INTO predicted_outputs VALUES '

In [26]:
predictions.shape

(40, 15)

In [27]:
predictions.columns.values

array(['Group_1', 'Group_2', 'Group_3', 'Group_4', 'Month', 'Day_of_Week',
       'Transportation_Expense', 'Distance_to_Work', 'Age',
       'Body_Mass_Index', 'Education', 'Children', 'Pets', 'Probability',
       'Prediction'], dtype=object)

In [28]:
print(insert_query)

INSERT INTO predicted_outputs VALUES

In [29]:
for i in range(predictions.shape[0]):
    insert_query += '('

    for j in range(predictions.shape[1]):
        insert_query += str(predictions[predictions.columns.values[j]][i]) + ', '

    insert_query = insert_query[:-2] + '), '

In [30]:
insert_query

'INSERT INTO predicted_outputs VALUES (1, 0.0, 0.0, 0.0, 6, 4, 179, 26, 30, 19, 1, 0, 0, 0.4927036211603812, 0), (1, 0.0, 0.0, 0.0, 6, 0, 361, 52, 28, 27, 0, 1, 4, 0.7886178817698664, 1), (1, 0.0, 0.0, 0.0, 6, 2, 155, 12, 34, 25, 0, 2, 0, 0.7897838737731463, 1), (1, 0.0, 0.0, 0.0, 6, 4, 179, 22, 40, 22, 1, 2, 0, 0.5999209452353255, 1), (1, 0.0, 0.0, 0.0, 6, 4, 155, 12, 34, 25, 0, 2, 0, 0.7581062578002006, 1), (1, 0.0, 0.0, 0.0, 6, 0, 225, 26, 28, 24, 0, 1, 2, 0.7311207679748966, 1), (1, 0.0, 0.0, 0.0, 6, 2, 118, 15, 46, 25, 0, 2, 0, 0.610010241631534, 1), (1, 0.0, 0.0, 0.0, 6, 2, 179, 26, 30, 19, 1, 0, 0, 0.5379544867097039, 1), (1, 0.0, 0.0, 0.0, 6, 4, 118, 10, 37, 28, 0, 0, 0, 0.5451952510544337, 1), (1, 0.0, 0.0, 0.0, 6, 2, 118, 10, 37, 28, 0, 0, 0, 0.5896633674254144, 1), (1, 0.0, 0.0, 0.0, 6, 3, 378, 49, 36, 21, 0, 2, 4, 0.7099640066324265, 1), (1, 0.0, 0.0, 0.0, 6, 3, 118, 13, 50, 31, 0, 1, 0, 0.5482756291918718, 1), (1, 0.0, 0.0, 0.0, 6, 4, 233, 51, 31, 21, 1, 1, 8, 0.047683708624971, 0), (1, 0.0, 0.0, 0.0, 6, 4, 179, 26, 30, 19, 1, 0, 0, 0.4927036211603812, 0), (0, 0.0, 0.0, 0.0, 6, 0, 235, 29, 48, 33, 0, 1, 5, 0.0313580254100218, 0), (0, 0.0, 0.0, 0.0, 6, 3, 268, 11, 33, 25, 1, 0, 0, 0.1738015803196392, 0), (1, 0.0, 0.0, 0.0, 6, 3, 118, 13, 50, 31, 0, 1, 0, 0.5482756291918718, 1), (1, 0.0, 0.0, 0.0, 6, 3, 179, 26, 30, 19, 1, 0, 0, 0.515360536448495, 1), (1, 0.0, 0.0, 0.0, 6, 3, 291, 31, 40, 25, 0, 1, 1, 0.7878993524914517, 1), (1, 0.0, 0.0, 0.0, 7, 0, 179, 26, 30, 19, 1, 0, 0, 0.5896989990818372, 1), (1, 0.0, 0.0, 0.0, 7, 0, 118, 10, 37, 28, 0, 0, 0, 0.6394976727928864, 1), (1, 0.0, 0.0, 0.0, 7, 3, 233, 51, 31, 21, 1, 1, 8, 0.0534364074990348, 0), (1, 0.0, 0.0, 0.0, 7, 4, 118, 10, 37, 28, 0, 0, 0, 0.552453364508935, 1), (1, 0.0, 0.0, 0.0, 7, 2, 118, 10, 37, 28, 0, 0, 0, 0.5967367345967907, 1), (1, 0.0, 0.0, 0.0, 7, 2, 233, 51, 31, 21, 1, 1, 8, 0.0582115557769383, 0), (1, 0.0, 0.0, 0.0, 7, 2, 235, 20, 43, 38, 0, 1, 0, 0.8837185136358443, 1), (1, 0.0, 0.0, 0.0, 7, 4, 233, 51, 31, 21, 1, 1, 8, 0.0490325754009572, 0), (1, 0.0, 0.0, 0.0, 7, 0, 228, 14, 58, 22, 0, 2, 1, 0.6366858396890587, 1), (1, 0.0, 0.0, 0.0, 7, 0, 118, 10, 37, 28, 0, 0, 0, 0.6394976727928864, 1), (1, 0.0, 0.0, 0.0, 7, 1, 228, 14, 58, 22, 0, 2, 1, 0.6154688080398149, 1), (1, 0.0, 0.0, 0.0, 7, 1, 189, 29, 33, 25, 0, 2, 2, 0.680425127306255, 1), (1, 0.0, 0.0, 0.0, 7, 2, 118, 10, 37, 28, 0, 0, 0, 0.5967367345967907, 1), (1, 0.0, 0.0, 0.0, 7, 2, 361, 52, 28, 27, 0, 1, 4, 0.7621727665519967, 1), (1, 0.0, 0.0, 0.0, 7, 2, 225, 26, 28, 24, 0, 1, 2, 0.7002168455607353, 1), (1, 0.0, 0.0, 0.0, 7, 0, 369, 17, 31, 25, 0, 3, 0, 0.9811763321585096, 1), (1, 0.0, 0.0, 0.0, 7, 1, 289, 36, 33, 30, 0, 2, 1, 0.9142598657424366, 1), (1, 0.0, 0.0, 0.0, 7, 1, 235, 11, 37, 29, 1, 1, 1, 0.7357600941635054, 1), (0, 0.0, 0.0, 0.0, 7, 1, 118, 14, 40, 34, 0, 1, 8, 0.0042436230418642, 0), (0, 0.0, 0.0, 0.0, 7, 2, 231, 35, 39, 35, 0, 2, 2, 0.1881565411146061, 0), (0, 0.0, 0.0, 0.0, 7, 4, 179, 45, 53, 25, 0, 1, 1, 0.0387733967551317, 0), '

In [31]:
insert_query = insert_query[:-2] + ';'
insert_query

'INSERT INTO predicted_outputs VALUES (1, 0.0, 0.0, 0.0, 6, 4, 179, 26, 30, 19, 1, 0, 0, 0.4927036211603812, 0), (1, 0.0, 0.0, 0.0, 6, 0, 361, 52, 28, 27, 0, 1, 4, 0.7886178817698664, 1), (1, 0.0, 0.0, 0.0, 6, 2, 155, 12, 34, 25, 0, 2, 0, 0.7897838737731463, 1), (1, 0.0, 0.0, 0.0, 6, 4, 179, 22, 40, 22, 1, 2, 0, 0.5999209452353255, 1), (1, 0.0, 0.0, 0.0, 6, 4, 155, 12, 34, 25, 0, 2, 0, 0.7581062578002006, 1), (1, 0.0, 0.0, 0.0, 6, 0, 225, 26, 28, 24, 0, 1, 2, 0.7311207679748966, 1), (1, 0.0, 0.0, 0.0, 6, 2, 118, 15, 46, 25, 0, 2, 0, 0.610010241631534, 1), (1, 0.0, 0.0, 0.0, 6, 2, 179, 26, 30, 19, 1, 0, 0, 0.5379544867097039, 1), (1, 0.0, 0.0, 0.0, 6, 4, 118, 10, 37, 28, 0, 0, 0, 0.5451952510544337, 1), (1, 0.0, 0.0, 0.0, 6, 2, 118, 10, 37, 28, 0, 0, 0, 0.5896633674254144, 1), (1, 0.0, 0.0, 0.0, 6, 3, 378, 49, 36, 21, 0, 2, 4, 0.7099640066324265, 1), (1, 0.0, 0.0, 0.0, 6, 3, 118, 13, 50, 31, 0, 1, 0, 0.5482756291918718, 1), (1, 0.0, 0.0, 0.0, 6, 4, 233, 51, 31, 21, 1, 1, 8, 0.047683708624971, 0), (1, 0.0, 0.0, 0.0, 6, 4, 179, 26, 30, 19, 1, 0, 0, 0.4927036211603812, 0), (0, 0.0, 0.0, 0.0, 6, 0, 235, 29, 48, 33, 0, 1, 5, 0.0313580254100218, 0), (0, 0.0, 0.0, 0.0, 6, 3, 268, 11, 33, 25, 1, 0, 0, 0.1738015803196392, 0), (1, 0.0, 0.0, 0.0, 6, 3, 118, 13, 50, 31, 0, 1, 0, 0.5482756291918718, 1), (1, 0.0, 0.0, 0.0, 6, 3, 179, 26, 30, 19, 1, 0, 0, 0.515360536448495, 1), (1, 0.0, 0.0, 0.0, 6, 3, 291, 31, 40, 25, 0, 1, 1, 0.7878993524914517, 1), (1, 0.0, 0.0, 0.0, 7, 0, 179, 26, 30, 19, 1, 0, 0, 0.5896989990818372, 1), (1, 0.0, 0.0, 0.0, 7, 0, 118, 10, 37, 28, 0, 0, 0, 0.6394976727928864, 1), (1, 0.0, 0.0, 0.0, 7, 3, 233, 51, 31, 21, 1, 1, 8, 0.0534364074990348, 0), (1, 0.0, 0.0, 0.0, 7, 4, 118, 10, 37, 28, 0, 0, 0, 0.552453364508935, 1), (1, 0.0, 0.0, 0.0, 7, 2, 118, 10, 37, 28, 0, 0, 0, 0.5967367345967907, 1), (1, 0.0, 0.0, 0.0, 7, 2, 233, 51, 31, 21, 1, 1, 8, 0.0582115557769383, 0), (1, 0.0, 0.0, 0.0, 7, 2, 235, 20, 43, 38, 0, 1, 0, 0.8837185136358443, 1), (1, 0.0, 0.0, 0.0, 7, 4, 233, 51, 31, 21, 1, 1, 8, 0.0490325754009572, 0), (1, 0.0, 0.0, 0.0, 7, 0, 228, 14, 58, 22, 0, 2, 1, 0.6366858396890587, 1), (1, 0.0, 0.0, 0.0, 7, 0, 118, 10, 37, 28, 0, 0, 0, 0.6394976727928864, 1), (1, 0.0, 0.0, 0.0, 7, 1, 228, 14, 58, 22, 0, 2, 1, 0.6154688080398149, 1), (1, 0.0, 0.0, 0.0, 7, 1, 189, 29, 33, 25, 0, 2, 2, 0.680425127306255, 1), (1, 0.0, 0.0, 0.0, 7, 2, 118, 10, 37, 28, 0, 0, 0, 0.5967367345967907, 1), (1, 0.0, 0.0, 0.0, 7, 2, 361, 52, 28, 27, 0, 1, 4, 0.7621727665519967, 1), (1, 0.0, 0.0, 0.0, 7, 2, 225, 26, 28, 24, 0, 1, 2, 0.7002168455607353, 1), (1, 0.0, 0.0, 0.0, 7, 0, 369, 17, 31, 25, 0, 3, 0, 0.9811763321585096, 1), (1, 0.0, 0.0, 0.0, 7, 1, 289, 36, 33, 30, 0, 2, 1, 0.9142598657424366, 1), (1, 0.0, 0.0, 0.0, 7, 1, 235, 11, 37, 29, 1, 1, 1, 0.7357600941635054, 1), (0, 0.0, 0.0, 0.0, 7, 1, 118, 14, 40, 34, 0, 1, 8, 0.0042436230418642, 0), (0, 0.0, 0.0, 0.0, 7, 2, 231, 35, 39, 35, 0, 2, 2, 0.1881565411146061, 0), (0, 0.0, 0.0, 0.0, 7, 4, 179, 45, 53, 25, 0, 1, 1, 0.0387733967551317, 0);'

In [32]:
cursor.execute(insert_query)

40

In [33]:
conn.commit()

In [34]:
conn.close()